@model List<CattleTempViewModel>

    @{
        ViewData["Title"] = "Temperatura e Gjedheve";
     }
<div class="card">
    <div class="card-header">
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Temperature">Regjistro</a>

        </div>
    </div>
    <div class="card-body">
        <table id="CattleTemperature" class="table table-responsive">
            <thead>
                <tr>

                    <th>Gjedhja</th>
                    <th>Temperatura</th>
                    <th>Data</th>
                    <th>Krijuar nga</th>
                    
                    <th>Veprimet</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   // @Html.DropDownListFor(m=> m.CreatedBy, ViewBag.UserName as SelectList, "Zgjedh", new { @class = "form-control select2"})

                    
                    <tr>
                        <td>@item.CattleName</td>
                        <td>@item.Temperature</td>
                        <td>@item.DateMeasured</td>
                        <td>@item.CreatedBy</td>
                        <td>
                            <a class="btn btn-sm btn-primary" onclick="EditMenu('@AesCrypto.Enkrypt(item.Id)')"><i class="fa fa-edit"></i>Edit</a>
                            <a class="btn btn-sm btn-danger" href="javascript:;" onclick="DeleteTemp('@item.Id')">Delete</a>
                        </td> 
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#CattleTemperature").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false

        });

        function EditMenu(id) {

            $('#modal-center-large').find('.modal-content').load('@Url.Action("_Edit", "Temperature")?ide=' + id, function () {
                $('#modal-center-large').modal('toggle')
            })
        }

        function DeleteTemp(Id) {
            debugger;
            Swal.fire({
                title: 'A jeni të sigurt?',
                text: "Ju nuk do mund të ktheheni prapa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Fshij'
            }).then((result) => {
                debugger;
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Temperature")/' + Id,
                        type: 'POST',
                        success: function (result) {
                            Swal.fire({
                                title: 'Fshier!',
                                text: 'E dhena u fshi me sukses!',
                                icon: 'success',
                                timer: 1500,
                                timerProgressBar: true,
                            }).then((result) => {
                                location.reload();
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred while deleting the role: ' + error,
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        }
    </script>
}