@model List<MilkViewModel>

@{
    ViewData["Title"] = "Lista e mbledhjes se qumeshtit";
}
<div class="card">
    <div class="card-header">
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="_Edit" asp-controller="Milk">Edit</a>
        </div>
    </div>
    <div class="card-body">
        <table id="milk-table" class="table table-responsive">
            <thead>
                <tr>
                    <th>Identifikuesi </th>
                    <th>Emri i gjedhes</th>
                    <th>Data e grumbullimit</th>
                    <th>Litrat te mbledhura</th>
                    <th>Cmimi</th>
                    <th>Profiti</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Identifier</td>
                        <td>@item.CattleName</td>
                        <td>@item.DateCollected</td>
                        <td>@item.LitersCollected l</td>
                        <td>@item.Price $</td>
                        <td>@item.TotalProfit $</td>
                        <td class="button-td">
                            <a class="btn btn-sm btn-primary" onclick="EditMilk(@item.Id)"><i class="fa fa-edit"></i>Edit</a>

                            @*@(await Html.PartialAsync("_ActionButtonsPartial", new List<ActionButton> { new ActionButton { Title = Resource.Edit, Icon = SvgIcon.Edit, OnClick = $"EditSubMenu('{menu.mide}', '{AesCrypto.Enkrypt(menu.ide) }')", Display = true },
                        new ActionButton{ Title = Resource.Delete, Icon = SvgIcon.Delete, OnClick = $"DeleteSubMenu('{AesCrypto.Enkrypt(menu.ide) }')", Display = true }, }))
                        *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#milk-table").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false

        });
        function EditMilk(Id) {
            $('#modal-center-large').find('.modal-content').load('@Url.Action("Edit", "Milk")?id=' + Id)
        }

    </script>

}