@model List<RolesViewModel>

@{
    ViewData["Title"] = "Roles";
}
<div class="card">
    <div class="card-header">
        @* <h4>@ViewData["Title"]</h4> *@
        <div class="card-toolbar float-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Roles">Regjistro</a>
        </div>
    </div>
    
        <div class="card-body">
        <div class="button-items" style="float:right;">
            <div class="btn-group dropstart">
                <button style="margin:0 5px 7px 0" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-chevron-left"></i>Shkarko
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" onclick="Report(ReportType.PDF)">
                        <img src="~/Media/Extensions/pdf.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">PDF</span>
                    </button>
                    <button class="dropdown-item" onclick="Report(ReportType.EXCEL)">
                        <img src="~/Media/Extensions/xls.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">Excel</span>
                    </button>
                </div>
            </div>
        </div>

    <div class="card-body">
        <table id="roles-table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Emri i Rolit</th>
                    <th class="action-cell">Veprimet</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>@item.Name</td>
                            <td class="action-cell">
                                <a asp-controller="Roles" asp-action="Edit"
                           asp-route-id="@item.Id" class="btn btn-primary">
                                    Edit
                                </a>
                                <!-- Butoni në SweetAlert -->
                                <a class="btn btn-danger" href="javascript:;" onclick="DeleteRole('@item.Id')">Delete</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#roles-table').DataTable();
        });


        //SweetAlert Button
        function DeleteRole(roleId) {
            debugger;
            Swal.fire({
                title: 'A jeni të sigurt?',
                text: "Ju nuk do mund të ktheheni prapa!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Fshij'
            }).then((result) => {
                debugger;
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Roles")/' + roleId,
                        type: 'POST',
                        success: function(result) {
                            Swal.fire({
                                title: 'Fshier!',
                                text: 'Roli u fshi me sukses!',
                                icon: 'success',
                                timer: 1500,
                                timerProgressBar: true,
                            }).then((result) => {
                                location.reload();
                            });
                        },
                        error: function(xhr, status, error) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred while deleting the role: ' + error,
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        }

                function Report(type) {
            if (type == '@((int)ReportType.PDF)' || type == '@((int)ReportType.Excel)') {
                $.ajax({
                    url: "/Roles/OpenIndexReport",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    success: function () {
                        if (type == '@((int)ReportType.Excel)')
                            window.open("/Reports/Design/?format=excel", '_blank');
                        else {
                            let W = window.open("/Reports/Design/?format=pdf", '_blank');
                            W.onload = function () { this.document.title = 'Raporti'; }
                        }
                    }
                });
            }
        }


    </script>
}
<style>
    .action-cell {
        text-align: right;
    }
</style>