@model List<FarmViewModel>
@{
    ViewData["Title"] = "Lista e fermave";
    int rownumber = 0;
}

<div class="card">
    <div class="card-header">
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Farm">Regjistro</a>
        </div>
    </div>
    <div class="card-body">
        <div class="button-items" style="float:right;">
            <div class="btn-group dropstart">
                <button style="margin:0 5px 7px 0" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-chevron-left"></i>Shkarko
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" onclick="Report(ReportType.PDF)">
                        <img src="~/Media/Extensions/pdf.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">PDF</span>
                    </button>
                    <button class="dropdown-item" onclick="Report(ReportType.EXCEL)">
                        <img src="~/Media/Extensions/xls.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">Excel</span>
                    </button>
                </div>
            </div>
        </div>
        <table id="farm-table" class="table table-responsive">
            <thead>
                <tr>
                    <th>Emri i fermerit</th>
                    <th>Emri i fermes</th>
                    <th>Vendi</th>
                    <th>Adresa</th>
                    <th>Aktive</th>
                    <th>Veprimet</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var span = "";
                    if (item.Active == true)
                    {
                        span = "<span class='badge badge-outline-success'>Aktiv</span>";
                    }
                    else
                    {
                        span = "<span class='badge badge-outline-danger'>Deaktiv</span>";
                    }
                    <tr>
                        <td>@item.FarmerName</td>
                        <td>@item.FarmName</td>
                        <td>@item.Place</td>
                        <td>@item.Address</td>
                        <td>@Html.Raw(span)</td>
                        <td class="button-td">
                            <a asp-controller="Farm" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>Edit</a>
                            @*<a class="btn btn-sm btn-primary" onclick="AddFarm(@Farm.id)"><i class="fa fa-plus"></i>Shto Ferme</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#farm-table").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false

        });
        //var Report = function(type) {
        function Report(type) {
            if (type == '@((int)ReportType.PDF)' || type == '@((int)ReportType.Excel)') {
                $.ajax({
                    url: "/Farm/OpenIndexReport",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    success: function () {
                        if (type == '@((int)ReportType.Excel)')
                            window.open("/Reports/Design/?format=excel", '_blank');
                        else {
                            let W = window.open("/Reports/Design/?format=pdf", '_blank');
                            W.onload = function () { this.document.title = 'Raporti'; }
                        }
                    }
                });
            }
        }

        function editFarm(id) {

            $('#modal-center-large').find('.modal-content').load('@Url.Action("edit", "Farm")?id=' + id, function () {
                $('#modal-center-large').modal('toggle')
            })

        }





    </script>
}