@model List<LogViewModel>
@{
    ViewData["Title"] = "Lista e erroreve";
}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table id="log-table" class="table table-responsive">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Controller</th>
                    <th>Action</th>
                    <th>Http Method</th>
                    <th>Veprimet</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.Controller</td>
                        <td>@item.Action</td>
                        <td>@item.HttpMethod</td>
                        <td>
                            <a class="btn btn-sm btn-primary" onclick="EditMenu(@item.Id)"><i class="fa fa-info-circle"></i> Details</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#log-table").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false

        });

        function EditMenu(id) {

            $('#modal-center-large').find('.modal-content').load('@Url.Action("Details", "Log")?id=' + id, function () {
                $('#modal-center-large').modal('toggle')
            })
        }
    </script>
}