@model IEnumerable<CattleMgm.Models.Menu.ListOfMenusAccess>
@{
    int rownumber = 0;
}


<div class="card card-custom">
    <div class="card-header">
        <h4 class="card-title">Lista e menuve per autorizim</h4>
    </div>
    <div class="card-body">
        <table id="tblMenus" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(m => m.MenuName)</th>
                    <th>@Html.DisplayNameFor(m => m.policy)</th>
                    <th style="width:80px">@Html.DisplayNameFor(m => m.HasAccess)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rule in Model)
                {
                    rownumber++;

                    string ch = "";
                    string text = "Jo";
                    if (rule.HasAccess)
                    {
                        ch = "checked";
                        text = "Po";
                    }

                    <tr>
                        <td>@rownumber</td>
                        <td>@Html.DisplayFor(m => rule.MenuName) @(rule.SubmenuName !=""?$"--> ({rule.SubmenuName})":"") </td>
                        <td>@Html.DisplayFor(m => rule.policy)</td>
                        <td class="button-td">
                            <div class="form-check form-switch form-switch-success">
                                <input class="form-check-input"
                                   type="checkbox" id="customSwitchSuccess" onchange="ChangePermission(this, '@AesCrypto.Enkrypt(rule.MenuId)', '@AesCrypto.Enkrypt(rule.submenu)')" @ch>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#tblMenus").DataTable({
            responsive: true,
        });
    });

function ChangePermission(e, mide, side) {

    //ShowLoading();

            $.post('@Url.Action("ChangeAccess", "Authorization")', { Role: $('#Role').val(), mide: mide, side: side, access: $(e).is(':checked') }, function (data) {
            if (data.errorNumber == ErrorNumber.SUCCESS) {
                Swal.fire({
                    icon: 'success',
                    title: data.title,
                    text: data.errorDescription,
                    timer: 1500,
                    confirmButtonText: "Ne rregull"
                })
            } else if (data.errorNumber == ErrorNumber.WARNING) {
                Swal.fire({
                    icon: 'warning',
                    title: data.title,
                    text: data.errorDescription,
                    confirmButtonText: "Ne rregull"
                })
            }
            else if (data.errorNumber == ErrorNumber.ERROR) {
                Swal.fire({
                    icon: 'error',
                    title: data.title,
                    text: data.errorDescription,
                    confirmButtonText: "Ne rregull"
                })
            }

            //HideLoading();
        })
}
</script>