@using CattleMgm.ViewModels.Humidity;

@model List<HumidityViewModel>
@{
    ViewData["Title"] = "Lagështia";
}

<div class="card">
    <div class="card-header">
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Humidity">Regjistro</a>

        </div>
    </div>
    <div class="card-body">

        <div class="button-items" style="float:right;">
            <div class="btn-group dropstart">
                <button style="margin:0 5px 7px 0" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-chevron-left"></i>Shkarko
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" onclick="Report(ReportType.PDF)">
                        <img src="~/Media/Extensions/pdf.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">PDF</span>
                    </button>
                    <button class="dropdown-item" onclick="Report(ReportType.EXCEL)">
                        <img src="~/Media/Extensions/xls.png" class="btn-download" asp-append-version="true" />
                        <span class="title text-center w-100">Excel</span>
                    </button>
                </div>
            </div>
        </div>

        <table id="CattleHumidity" class="table table-responsive">
            <thead>
                <tr>

                    <th>Emri</th>
                    <th>Lageshtia</th>
                    <th>Data</th>
                    <th>Krijuar nga</th>
                    <th>Veprimet</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.CattleName</td>
                        <td>@item.Humidity</td>
                        <td>@item.DateMeasured</td>
                        <td>@item.CreatedBy</td>
                        <td>
                            <a class="btn btn-sm btn-primary" onclick="EditMenu('@AesCrypto.Enkrypt(item.Id)')"><i class="fa fa-edit"></i>Edit</a>
                            <a class="btn btn-sm btn-danger" href="javascript:;" onclick="DeleteHumidity('@item.Id')">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</
@section Scripts{
    <script type="text/javascript">
        $("#CattleHumidity").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false
        });
        function EditMenu(id) {
            $('#modal-center-large').find('.modal-content').load('@Url.Action("Edit", "Humidity")?ide=' + id, function () {
                $('#modal-center-large').modal('toggle')
            })
        }

        var DeleteHumidity = function (id) {
            Swal.fire({
                title: 'A jeni te sigurt?',
                text: "Kjo ben fshirjen e lageshtise!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Jo, kthehu.',
                buttonsStyling: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Po, deshiroj ta fshij!',
                customClass: {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-secondary"
                }
            }).then((result) => {
                debugger;
                if (result.value) {
                    debugger;
                    // Make the AJAX request
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete","Humidity")/' + id,//
                        data: { id: id },

                        success: function (data) {
                            debugger;
                            Swal.fire({
                                text: "Lageshtia u fshi me sukses!",
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "Ne rregull!",
                                customClass: {
                                    confirmButton: "btn btn-primary"
                                }
                            }).then(function (result) {
                                location.href = location.href;
                            });





                        },
                        error: function (xhr, status, error) {
                            debugger;
                            // Show popup warning. For more info check the plugin's official documentation: https://sweetalert2.github.io/
                            Swal.fire({
                                text: "Sorry, looks like there are some errors detected, please try again.",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Ok, got it!",
                                customClass: {
                                    confirmButton: "btn btn-primary"
                                }
                            });
                        }
                    });
                }

            });

        }

        function Report(type) {
            if (type == '@((int)ReportType.PDF)' || type == '@((int)ReportType.Excel)') {
                $.ajax({
                    url: "/Humidity/OpenIndexReport",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    success: function () {
                        if (type == '@((int)ReportType.Excel)')
                            window.open("/Reports/Design/?format=excel", '_blank');
                        else {
                            let W = window.open("/Reports/Design/?format=pdf", '_blank');
                            W.onload = function () { this.document.title = 'Raporti'; }
                        }
                    }
                });
            }
        }
    </script>
}