@model List<CattleViewModel>

<div class="card">
    <div class="card-header">
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Cattle">Regjistro</a>
        </div>
    </div>
    <div class="card-body">
        <table id="cattle-table" class="table table-responsive">
            <thead>
                <tr>
                    <th>Emri i gjedhit</th>
                    <th>Numri identifikues</th>
                    <th>Raca</th>
                    <th>Data e lindjes</th>
                    <th>Gjinia</th>
                    <th>Ferma</th>
                    <th>Emri i fermerit</th>
                    <th>Krijuar nga</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.UniqueIdentifier</td>
                        <td>@item.Breed</td>
                        <td>@item.BirthDate</td>
                        <td>@item.Gender</td>
                        <td>@item.FarmName</td>
                        <td>@item.FarmerName</td>
                        <td>@item.CreatedBy</td>
                        <td><a class="btn btn-primary" asp-route-id="@item.Id" asp-action="Details" asp-controller="Cattle"><i class="fa fa-info-circle"></i> Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#cattle-table").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false

        });
    </script>
}