@model SearchPosition
@{
    ViewData["Title"] = "Lista e pozicioneve";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Tutorial</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <div class="card-toolbar float-end">
                <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Position">Regjistro</a>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="_Index" asp-controller="Position" method="post" data-ajax="true" data-ajax-success="kt_ajax_success" data-ajax-method="POST" id="frmSearch">
                @Html.AntiForgeryToken()
                @Html.Hidden("type")
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label asp-for="CattleId" class="form-label mb-lg-0"></label>
                            @Html.DropDownListFor(m=>m.CattleId, ViewBag.Cattles as SelectList, "Zgjedh", new { @class = "form-control select2"} )
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label asp-for="Lat" class="form-label mb-lg-0"></label>
                            <input asp-for="Lat" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label asp-for="Long" class="form-label mb-lg-0"></label>
                            <input asp-for="Long" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label asp-for="DateMeasured" class="form-label mb-lg-0"></label>
                            <input asp-for="DateMeasured" class="form-control" type="date" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label asp-for="Lat" style="visibility:hidden"></label><br />
                            <button type="submit" name="button" class="btn btn-primary">Kerko</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-items" style="float:right;">
                <div class="btn-group dropstart">
                    <button style="margin:0 5px 7px 0" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-chevron-left"></i>Shkarko
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" onclick="Report(ReportType.PDF)">
                            <img src="~/Media/Extensions/pdf.png" class="btn-download" asp-append-version="true" />
                            <span class="title text-center w-100">PDF</span>
                        </button>
                        <button class="dropdown-item" onclick="Report(ReportType.EXCEL)">
                            <img src="~/Media/Extensions/xls.png" class="btn-download" asp-append-version="true" />
                            <span class="title text-center w-100">Excel</span>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="position-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Emri i Gjedhes</th>
                        <th id="lat">Latitude</th>
                        <th id="long">Longitude</th>
                        <th>Data e matjes</th>
                        <th data-priority="1">Veprimet</th>
                    </tr>
                </thead>
                <tbody>
                   @* @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CattleName</td>
                            <td>@item.Lat</td>
                            <td>@item.Long</td>
                            <td>@item.DateMeasured</td>
                            <td>
                                <a class="btn btn-sm btn-primary" onclick="EditMenu(@item.Id)"><i class="fa fa-edit"></i> Edit</a>

                                <a class="btn btn-sm btn-primary" onclick="EditMap(@item.Lat,@item.Long)"><i class="fa fa-map-marked-alt"></i> Map</a>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
    <div id="map"></div>
</body>
</html>

@section Scripts{
    <script type="text/javascript">
        $("#position-table").DataTable({
            keys: true,
            responsive: true,
            pageLength: 10,
            "ordering": false
        });

        function EditMap(lat,long) {
            
            var map = L.map('map').setView([lat, long], 12);

            var singleMarker = L.marker([lat, long]);
            singleMarker.addTo(map);
            var popup = singleMarker.bindPopup('Pozicioni i gjedhes se zgjedhur');
            popup.addTo(map);

            // Google Map Layer

            googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });
            googleStreets.addTo(map);

            map.once("click",function(){
                Swal.fire(
                    'Informacion',
                    'Shtypni ENTER per shfaqjen e pozicionit te gjedhes tjeter te zgjedhur',
                    'OK'
                )
            });

            document.addEventListener("keypress",function(){
                if (event.key === "Enter") {
                    location.reload();
                }
            });
        }

        function Report(type) {
            if (type == '@((int)ReportType.PDF)' || type == '@((int)ReportType.Excel)') {
                $.ajax({
                    url: "/Position/OpenIndexReport",
                    cache: false,
                    type: "POST",
                    dataType: "json",
                    success: function () {
                        if (type == '@((int)ReportType.Excel)')
                            window.open("/Reports/Design/?format=excel", '_blank');
                        else {
                            let W = window.open("/Reports/Design/?format=pdf", '_blank');
                            W.onload = function () { this.document.title = 'Raporti'; }
                        }
                    }
                });
            }
        }
        function EditPosition(ide) {
            $('#modal-center-large').find('.modal-content').load('@Url.Action("Edit", "Position")?id=' + ide, function () {
                $('#modal-center-large').modal('toggle')
            })
        }


        function kt_ajax_success(data) {
            var rowno = 0;
            $('#position-table').DataTable({
                "destroy": true,
                keys: true,
                responsive: true,
                pageLength: 10,
                data: data,
                columns: [
                    {
                        'data': function (row, type, set) {
                            rowno++;
                            return rowno;
                        }
                    },
                    { "data": "cattleName" },
                    { "data": "lat" },
                    { "data": "long" },
                    { "data": "dateMeasured" },
                    {
                        "data": function (row, type, set) {
                            let currentDate = new Date();
                            var lockDate = new Date(row.LockoutEnd);
                            var dropdown = '<div class="button-items table-button-items" style="float:right;">' +
                                '<div class="btn-group dropstart">' +
                                '<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">' +
                                '<i class="mdi mdi-chevron-left"></i>' + 'Veprimet' +
                                '</button>' +

                                '<div class="dropdown-menu">' +
                                '<button class="dropdown-item" type="button" onclick="EditPosition(\'' + row.id + '\')">' +
                                '<span class="title" style=" margin-top: 3px; margin-left: 10px;">Edit</span>' +
                                '</button>';
                            dropdown += '<button class="dropdown-item" type="button" onclick="EditMap(\'' + row.lat + "\',\'" + row.long + '\')">' +
                                ' <span class="title" style=" margin-top: 3px; margin-left: 10px;">Map</span>' +
                                '</button>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            return dropdown;
                        }
                    }
                ],
                initComplete: function () {
                    $('.table-button-items').parent().addClass('button-td');
                }
            })}

    </script>
}
